body{
    font-family:Arial,sans-serif;
    margin:30px;
    background:#f4f4f4;
}

h1{
    text-align:center;
    color:#007BFF;
}

h2{
    text-align:center;
    color:#333;
}

.news{
    column-count:2;
    column-gap:30px;
    column-rule:1px solid gray;
    text-align:justify;
    font-size:18px;
    line-height:1.8;
}